extends layout

block content


    form(name="cardDetails",method="POST", action="submitInfo/")
        p American Express
        input(type="radio", name="cardType", value="AExpress")
        p Visa / MasterCard
        input(type="radio", name="cardType", value="other", checked)
        p Name
        input(type="text", name="name", required)
        p Card number
        input(type="text", name="cardNum", minlength="16", maxlength="19", required)
        p CVV
        input(type="text", name="cvv", minlength="3", maxlength="4", required)
        p Month
        input(type="number", name="month", maxlength="2", required)
        p Year
        input(type="number", name="year", maxlength="2", required)
        p
        button(type="submit") Submit